/* Pseudo-Reset */
html, body, h1, h2, h3, h4, p, ul, ol, li, dl, dd, dt, figure, form, fieldset, hr , pre {
    margin: 0;
    padding: 0;
}
li { list-style-type: none; }
article, aside, footer, header, main, menu, nav, section {
	display: block;
}
button, input, select, textarea {
    font: inherit;
	color: inherit;
	margin: 0;
    padding: 0;
    text-transform: none;
}

/* --- */

html {
    line-height: 1;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
	tab-size: 4;
	word-break: break-word;
    cursor: default;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;
    font-size: 1.5em;
    line-height: 1.6;
    background: #f8f8f8;
    color: #333;
}
html, body {
    padding: 1rem;
}
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat;
}

hr {
    background: transparent;
    border: solid transparent 1px;
    border-bottom: solid #ccc 1px;
    height: 1px;
    margin: 2rem 0;
}
a {
    color: #069;
    text-decoration: none;
    border-bottom: solid transparent 2px;

    &:hover {
        color: #000;
        border-bottom: solid #069 2px;
    }
}



header[role="banner"] {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 90%;
    img {
        display: block;
        margin: 0 auto;
        width: 250px
    }
}

#app {

    section[role="form"] {
        display: flex;
        padding: 2rem;
        justify-content: center;
        text-align: center;
        > div {
            padding: 1rem 2rem;

            input {
                background: #797f9f;
                width: 100%;
                max-width: 180px;
                height: 36px;
                margin: 2rem 0 0 0;
                border-radius: 5px;
            }
        }
    }

    main[role="main"] {
        border-radius: 3px;
        background: #fff;
        padding: 3rem;
        width: 100%;
        display: flex;
        max-width: 92rem;
        margin: 0 auto;

        figure {
            flex: 0 0 512px;

            #output {
                canvas, img {
                    width: 100%;
                    max-width: 512px;
                    border-radius: 5px;
                }
            }
        }
        aside {
            flex: 1 1 auto;
            padding: 0 3rem;
        }
    }
}

footer[role="contentinfo"] {
    padding: 2rem 1rem;
    font-size: 90%;
    text-align: center;

    h4, ul, ul li {
        display: inline-block;
    }
}
