/* Pseudo-Reset */
html, body, h1, h2, h3, h4, p, ul, ol, li, dl, dd, dt, figure, form, fieldset, hr , pre {
    margin: 0;
    padding: 0;
}
li { list-style-type: none; }
article, aside, footer, header, main, menu, nav, section {
	display: block;
}
button, input, select, textarea {
    font: inherit;
	color: inherit;
	margin: 0;
    padding: 0;
    text-transform: none;
}

/* --- */

@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');


html {
    line-height: 1;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
	tab-size: 4;
	word-break: break-word;
    cursor: default;
}
body {
    font-family: 'Barlow', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;;
    font-size: 1.5em;
    line-height: 1.6;
    background: #f8f8f8;
    color: #333;
}
html, body {
    padding: 1rem;
}
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat;
}

hr {
    background: transparent;
    border: solid transparent 1px;
    border-bottom: solid #ccc 1px;
    height: 1px;
    margin: 2rem 0;
}
a {
    color: #606990;
    text-decoration: none;
    border-bottom: solid transparent 2px;

    &:hover {
        color: #000;
        border-bottom: solid #797f9f 2px;
    }
}

// 
[v-cloak] { display: none; }

// --------------------------------------
// Form Elements

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input[type="file"] + label,
button[type="submit"],
.button {
    background-color: #797f9f;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    transition: all .25s ease-in-out;

    img {
        vertical-align: top;
        position: relative;
        top: 4px;
        width: 16px;
        height: auto;
        display: inline-block;
        margin: 0 3px 0 0;
        opacity: .5;
        transition: opacity .25s ease-in-out;
    }

    &:hover {
        color: #fff;
        background: #606990;
        border: none;
        box-shadow: 0 5px 1px -2px rgba(0, 0, 0, .15);

        img {
            opacity: 1;
        }
    }
}

.inputfile + label * { pointer-events: none }
input[type="file"]:focus + label,
input[type="file"] + label:hover {
    background-color: #606990;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin: 0 5px 0 0;
}

input[type="radio"] + label {
    display: inline-block;
    margin: 0 10px 0 0;
}

input[type="text"],
select {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: solid #ccc 1px;
    padding: 5px 10px;
}

// --------------------------------------

header[role="banner"] {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 90%;

    img {
        display: block;
        margin: 0 auto;
        width: 225px;
    }
}

#app {

    section[role="form"] {
        display: flex;
        padding: 2rem;
        justify-content: center;
        text-align: center;

        > div {
            padding: 1rem;

            p.file-ok {
                color: #609f69;
                padding: 1.5rem 0 0 0;
                font-size: 90%;

                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    margin: 0 10px 0 0;
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    background-color: #60af79;
                    background-image: url(../img/icon-check.svg);
                    background-position: center center;
                    background-size: 14px auto;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    main[role="main"] {
        border-radius: 3px;
        background: #fff;
        padding: 3rem;
        width: 100%;
        display: flex;
        max-width: 90rem;
        margin: 0 auto;

        figure {
            flex: 0 0 512px;

            #output {
                canvas, img {
                    width: 100%;
                    max-width: 512px;
                    border-radius: 5px;
                }
            }
        }
        aside {
            flex: 1 1 auto;
            padding: 0 0 0 3rem;

            dt {
                font-size: 80%;
                font-weight: 500;
                color: #797f9f;
                padding: 0;
                &:before {
                    content: '\00bb';
                    font-weight: 700;
                    display: inline-block;
                    margin: 0 5px 0 0;
                }
            }
            dd { padding: 0 0 1.25rem 0 }
        }
    }
}

footer[role="contentinfo"] {
    padding: 2rem 1rem;
    font-size: 90%;
    text-align: center;

    h4, ul, ul li {
        display: inline-block;
    }
    ul {
        padding: 0 0 0 5px;
    }
    li {
        padding: 2px 5px 2px 0;
    }
    li img {
        height: 12px;
        width: auto;
        display: inline-block;
        margin: 0 2px 0 0;
    }
}
