html, body {
    padding: 1rem;
}
#app {
    border: dotted #ccc 1px;
    padding: 2rem;
}

canvas {
    width: 640px;
    height: 640px;
    border: solid #fff 10px;
    box-shadow: 0 0 0 4px #333;
}
