<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>InstaGPX</title>
    <meta name="description" content="Create sharing pictures from your photos and .gpx files" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
    <meta name="google" content="notranslate" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="InstaGPX" />
    <meta name="apple-mobile-web-app-title" content="InstaGPX" />
    <meta name="theme-color" content="#111" />
    <meta name="msapplication-navbutton-color" content="#111" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/?utm_source=homescreen" />
    <link rel="me" href="https://twitter.com/alterebro" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <link rel="stylesheet" href="./css/app.css" />
</head>
<body>

<header role="banner">
    <h1><img src="./img/instagpx.svg" alt="InstaGPX" /></h1>
    <p>Create sharing pictures with your activity stats and any of your photos.</p>
    <p>Upload a .GPX and Image file and select your desired option!</p>
</header>

<div id="app" v-cloak>
    <section role="form">
        <div>
            <p>
                <input type="file" accept=".gpx" @change="loadGPX" id="user-file-gpx" />
                <label for="user-file-gpx">
                    <img src="img/icon-location.svg" alt=".GPX File" />
                    <span>Select your <strong>.GPX</strong> file</span>
                </label>
            </p>
            <p v-if="gpxFile" class="file-ok">{{ gpxFile }}</p>
        </div>
        <div>
            <p>
                <input type="file" accept="image/*" @change="loadIMG" id="user-file-image" />
                <label for="user-file-image">
                    <img src="img/icon-photo.svg" alt="Image File" />
                    <span>Select your <strong>Image</strong> file</span>
                </label>
            </p>
            <p v-if="imageFile" class="file-ok">{{ imageFile }}</p>
        </div>
    </section>

    <main role="main">
        <figure role="figure">
            <div id="output"></div>
        </figure>

        <aside role="complementary">
            <p>
                <a href="#" download="instagpx.com.jpg" id="download-img" class="button" v-on:click.prevent="showModal">
                    <img src="img/icon-download.svg" alt="Download Image" />
                    <span>Download Image</span>
                </a>
            </p>

            <form role="form" v-on:submit.prevent>

                <h3>Options</h3>

                <p class="form-input-container">
                    <label for="activity-title">Title</label>
                    <input type="text" placeholder="Write your activity title here" name="activity-title" id="activity-title" maxlength="140" v-model="options.title" />
                </p>
                <p class="form-input-container" v-if="gpx.timestamp">
                    <label for="activity-date">Date Format</label>
                    <select v-model="options.timestampPattern" name="activity-date" id="activity-date">
                        <option v-for="(pattern, index) in dateTemplates" v-bind:value="index">
                            {{ gpx.timestamp.start | renderTimestamp(pattern) }}
                        </option>
                        <option value="false">No Date!</option>
                    </select>
                </p>

                <h4>Activity Type</h4>
                <p class="form-radio-container">
                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-type" id="activity-type-run" v-model="options.activity" value="run" />
                        <label for="activity-type-run">Run</label>
                    </span>

                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-type" id="activity-type-ride" v-model="options.activity" value="ride" />
                        <label for="activity-type-ride">Ride</label>
                    </span>
                </p>

                <h4>Units System</h4>
                <p class="form-radio-container">
                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-unit" id="activity-unit-metric" v-model="options.units" value="metric" />
                        <label for="activity-unit-metric">Kilometers</label>
                    </span>

                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-unit" id="activity-unit-imperial" v-model="options.units" value="imperial" />
                        <label for="activity-unit-imperial">Miles</label>
                    </span>
                </p>

                <h4>View Options</h4>
                <p class="form-radio-container">
                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-show" id="activity-show-elevation" v-model="options.show" value="elevation" />
                        <label for="activity-show-elevation">Elevation</label>
                    </span>

                    <span class="form-selector form-radio">
                        <input type="radio" name="activity-show" id="activity-show-speed" v-model="options.show" value="speed" />
                        <label for="activity-show-speed">
                            <span v-if="options.activity == 'ride'">Speed</span>
                            <span v-else>Pace</span>
                        </label>
                    </span>
                </p>

                <p class="form-selector form-checkbox">
                    <input type="checkbox" name="activity-promote" id="activity-promote" v-model="options.promote" />
                    <label for="activity-promote">Show <em>instagpx.com</em> on image</label>
                </p>

                <p class="form-selector form-checkbox">
                    <input type="checkbox" name="activity-graph" id="activity-graph" v-model="options.graph" />
                    <label for="activity-graph">Show elevation graph</label>
                </p>

                <p class="form-submit-container">
                    <button type="submit" name="activity-regenerate" v-on:click="regenerateImage">
                        <img src="img/icon-refresh.svg" alt="Refresh Image" />
                        <span>Regenerate Image</span>
                    </button>
                </p>

            </form>
        </aside>
    </main>

    <section class="modal-thanks" v-bind:class="{ visible: modalVisible }">
        <div>
            <p>
                Thanks for using <strong>InstaGPX.com</strong> :)
                <br />Your picture is now being downloaded!
                <br />Now, why don't you:
            </p>
            <ul>
                <li class="twitter"><a href="https://twitter.com/alterebro" target="_blank" rel="noopener noreferrer" title="Follow me on Twitter!">Follow me on Twitter</a></li>
                <li class="instagram"><a href="https://www.instagram.com/alterebro/" target="_blank" rel="noopener noreferrer" title="Follow me on Instagram!">and/or on Instagram</a></li>
            </ul>
        </div>
        <footer><a href="#app" v-on:click.prevent="hideModal" class="close"><span>Close</span></a></footer>
    </section>

</div>

<footer role="contentinfo">
    <nav>
        <h4>Share! :</h4>
        <ul>
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={TEXT}&url={URL}" target="_blank" rel="noopener noreferrer" title="Share on Twitter">Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/sharer.php?u={URL}" target="_blank" rel="noopener noreferrer" title="Share on FaceBook">FaceBook</a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={URL}&title={TITLE}&summary={TEXT}&source=moro.es" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">LinkedIn</a></li>
            <li class="email"><a href="mailto:?subject={TITLE}&amp;body={URL}%0A{TEXT}" target="_blank" rel="noopener noreferrer" title="Share it via E-Mail">Mail</a></li>
            <li class="telegram"><a href="https://telegram.me/share/url?url={URL}&amp;text={TEXT}" target="_blank" rel="noopener noreferrer" title="Share it via Telegram">Telegram</a></li>
        </ul>
    </nav>
    <p>A project by: <a href="https://moro.es" target="_blank" rel="noopener noreferrer" title="Author website: www.moro.es">Jorge Moreno</a>. <strong><a href="https://twitter.com/alterebro" target="_blank" rel="noopener noreferrer" title="Follow @alterebro on Twitter!">@alterebro</a></strong></p>
</footer>

<script src="./js/tinytime.js" charset="utf-8"></script>
<script src="./js/vue.min.js" charset="utf-8"></script>
<script src="./js/geocode.js" charset="utf-8"></script>
<script src="./js/instagpx.js" charset="utf-8"></script>
<script src="./js/gpx.js" charset="utf-8"></script>
<script src="./js/img.js" charset="utf-8"></script>
<script src="./js/app.js" charset="utf-8"></script>

</body>
</html>
