<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>instaGpx</title>
    <link rel="stylesheet" href="./css/fonts.css" />
    <link rel="stylesheet" href="./css/app.css" />
</head>
<body>

<header role="banner">
    <h1><img src="./img/instagpx.png" alt="InstaGPX" /></h1>
    <p>Create a picture to share with your activity stats and any of your photos</p>
    <p>Upload your GPX acitvity file and image and select your favorite style</p>
</header>

<div id="app">
    <section role="form">
        <div>
            <figure>
                <img src="img/file-code-regular.svg" alt=".GPX File" width="24" />
                <figcaption>Upload your <strong>GPX</strong> Activity file</figcaption>
            </figure>
            <p>
                <label for="user-file-gpx"><strong>GPX</strong></label><br>
                <input type="file" accept=".gpx" @change="loadGPX" id="user-file-gpx" />
            </p>
        </div>
        <div>
            <figure>
                <img src="img/file-image-regular.svg" alt="Image" width="24" />
                <figcaption>Upload a <strong>Image</strong> file</figcaption>
            </figure>
            <p>
                <label for="user-file-gpx"><strong>Image</strong></label><br>
                <input type="file" accept="image/*" @change="loadIMG" id="user-file-image" />
            </p>
        </div>
    </section>

    <main role="main">
        <figure role="figure">
            <div id="output"></div>
        </figure>

        <aside role="complementary">
            <div role="form">
                <h3>Options</h3>
                <dl>
                    <dt><label for="activity-title">Title</label></dt>
                    <dd><input type="text" name="activity-title" id="activity-title" v-model="options.title" value="..." /></dd>

                    <dt><label for="activity-date">Date Format : {{ options.timestampPattern }}</label></dt>
                    <dd v-if="gpx.timestamp">
                        <select v-model="options.timestampPattern" name="activity-date" id="activity-date">
                            <option v-for="(pattern, index) in dateTemplates" v-bind:value="index">
                                {{ gpx.timestamp.start | renderTimestamp(pattern) }}
                            </option>
                            <option value="false">No Date!</option>
                        </select>
                    </dd>

                    <dt>Activity Type : <em>{{ options.activity }}</em></dt>
                    <dd>
                        <label for="activity-type-run">
                        <input type="radio" name="activity-type" id="activity-type-run" v-model="options.activity" value="run" />
                        Run</label>

                        <label for="activity-type-ride">
                        <input type="radio" name="activity-type" id="activity-type-ride" v-model="options.activity" value="ride" />
                        Ride</label>
                    </dd>

                    <dt>Unit System : <em>{{ options.units }}</em></dt>
                    <dd>
                        <label for="activity-unit-metric">
                        <input type="radio" name="activity-unit" id="activity-unit-metric" v-model="options.units" value="metric" />
                        Metric (km)</label>

                        <label for="activity-unit-imperial">
                        <input type="radio" name="activity-unit" id="activity-unit-imperial" v-model="options.units" value="imperial" />
                        Imperial (mi)</label>
                    </dd>

                    <dt>Options : <em>{{ options.show }}</em></dt>
                    <dd>
                        <input type="radio" name="activity-show" id="activity-show-elevation" v-model="options.show" value="elevation" />
                        <label for="activity-show-elevation">Elevation</label>

                        <input type="radio" name="activity-show" id="activity-show-speed" v-model="options.show" value="speed" />
                        <label for="activity-show-speed">
                            <span v-if="options.activity == 'ride'">Speed</span>
                            <span v-else>Pace</span>
                        </label>
                    </dd>

                    <dt>Promote instagpx.com : {{ options.promote }}</dt>
                    <dd>
                        <input type="checkbox" name="activity-promote" id="activity-promote" v-model="options.promote" />
                        <label for="activity-promote">Show instagpx.com on the image</label>
                    </dd>
                </dl>
                <!-- <p><button type="button" name="activity-regenerate" v-on:click="regenerateImage">Regenerate Image</button></p> -->
            </div>

            <div v-if="gpxLoaded">
                <hr />
                <h3>Data</h3>
                <ul>
                    <li><strong>User data loaded : {{ userDataLoaded }}</strong></li>
                    <li>Distance :  {{ gpx.distance.km }} (km)</li>
                    <li>Duration : {{ gpx.duration.hours }}h{{ gpx.duration.minutes }}m{{ gpx.duration.seconds }}s</li>
                    <li>Speed: {{ gpx.speed.kmh }} (km/h)</li>
                    <li>Pace: {{ gpx.pace.perKm.minutes }}:{{ gpx.pace.perKm.seconds }} (min/Km)</li>
                    <li>Elevation Gain: {{ gpx.elevation.gain }}m</li>
                </ul>
            </div>
        </aside>
    </main>
</div>

<footer role="contentinfo">
    <p>A project By : <strong><a href="https://moro.es" target="_blank" rel="noopener noreferrer" title="Author website: www.moro.es" data-tooltip data-tooltiplocation="top-right">Jorge Moreno</a> &middot; <a href="https://twitter.com/alterebro" target="_blank" rel="noopener noreferrer" title="Follow @alterebro on Twitter!" data-tooltip>@alterebro</a></strong></p>
    <nav>
        <h4>Share! :</h4>
        <ul>
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={TEXT}&url={URL}" target="_blank" rel="noopener noreferrer" title="Share on Twitter" data-tooltip data-tooltiplocation="top-right">Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/sharer.php?u={URL}" target="_blank" rel="noopener noreferrer" title="Share on FaceBook" data-tooltip>FaceBook</a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={URL}&title={TITLE}&summary={TEXT}&source=moro.es" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn" data-tooltip>LinkedIn</a></li>
            <li class="email"><a href="mailto:?subject={TITLE}&amp;body={URL}%0A{TEXT}" target="_blank" rel="noopener noreferrer" title="Share it via E-Mail" data-tooltip data-tooltiplocation="top-left">Mail</a></li>
            <li class="telegram"><a href="https://telegram.me/share/url?url={URL}&amp;text={TEXT}" target="_blank" rel="noopener noreferrer" title="Share it via Telegram" data-tooltip data-tooltiplocation="top-left">Telegram</a></li>
        </ul>
    </nav>
</footer>

<script src="./js/tinytime.js" charset="utf-8"></script>
<script src="./js/vue.min.js" charset="utf-8"></script>
<script src="./js/geocode.js" charset="utf-8"></script>
<script src="./js/instagpx.js" charset="utf-8"></script>
<script src="./js/gpx.js" charset="utf-8"></script>
<script src="./js/img.js" charset="utf-8"></script>
<script src="./js/app.js" charset="utf-8"></script>

</body>
</html>
