@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/subset-Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../fonts/subset-Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
