$mobile-breakpoint : 420;
$tablet-breakpoint : 890;
$mobile : "only screen and (max-width: #{$mobile-breakpoint}px)";
$tablet : "only screen and (max-width: #{$tablet-breakpoint}px)";
$desktop : "only screen and (min-width: #{$tablet-breakpoint}px)";

$color-primary-light : #387edf;
$color-primary-dark : #0d71d2;

$color-fg-dark : #2a2a2a;
$color-fg-medium : #818181;
